{%extends 'base.html'%}

{%block main_block%}

<div class="container">

  <h1 class="text-center my-4">DashBoard</h1>

  <div class="row">

    <div class="col-4 py-3">

      <h3 class="text-center">Filter by Date</h3>

      <form action="" method="post">

        {%csrf_token%}

        {{form.as_p}}

        <button type="submit">summary</button>

      </form>
    </div>
    <div class="col-4">
      <canvas id="mychart" class="mt-3"></canvas>
    </div>
    <div class="col-4">

      <h4 class="text-center">Monthly Summary</h4>

      <!-- {{monthly_income}} -->

      <!-- {{monthly_expense}} -->

      <canvas id="summchart" height="300px" class="mt-3"></canvas>

    </div>
  </div>

  {{expense}}

  {{income}}

</div>



{%endblock%}

{% block script_block%}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
  const ctx = document.getElementById('mychart');

  new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["expense", "income"],
      datasets: [{
        label: '# of Votes',
        data: [{{ income.total }}, {{ expense.total }}],
    borderWidth: 1
  }]
      },
    options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
    });

  const ctx1 = document.getElementById('summchart');


  var categoryChart = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: [{% for k in monthly_expense.keys %}"{{ k }}",{% endfor %}],
                datasets: [
                    
                {
                    label: 'ExpenseTotal',
                    data: [{% for v in monthly_expense.values %}{{ v }},{% endfor %}],
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                },

                     
                {
                    label: 'income Totals',
                    data: [{% for v in monthly_income.values %}{{ v }},{% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                },


            
            ]
            },
            options: {
                animation: {
                    duration: 2000,
                    easing: 'easeInOutQuart'
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });




</script>





{%endblock%}